<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add Product</title>
        <link rel="stylesheet" href="../../../css/main-static.css" th:href="@{/css/main.css}" />
        <meta charset="utf-8" />
    </head>
    <body>
        <h1>Add Customer</h1>
        
        <h2>Fill all the details</h2>
        <!-- 
            Set the action attribute to "/exercise12/saveCustomer.html", and use
            th:object to bind the ${customer} variable as the form-backing bean. 
        -->
        <form role="form" th:action="@{/add}" th:object="${addform}" th:method="post">
                <div class="form-group">
                    <label for="name">Name : </label>
                    <input type="text" id="name" name="username" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label for="temporaryaddress">Temporary Address : </label>
                    <input type="text" id="category" name="temporaryaddress" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label for="dob">Date of Birth : </label>
                    <input type="text" id="dob" name="dob" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label for="fn">Father name : </label>
                    <input type="text" id="fn" name="fathername" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label for="mn">Mother name : </label>
                    <input type="text" id="mn" name="mothername" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label for="pa">Permanent address : </label>
                    <input type="text" id="pa" name="permanentaddress" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label for="sex">Sex : </label>
                    <input type="text" id="sex" name="sex" class="form-control"/>
                </div>
                
                 <div class="form-group">
                    <label for="religion">Religion : </label>
                    <input type="text" id="religion" name="religion" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label for="ns">School name : </label>
                    <input type="text" id="ns" name="nameofschool" class="form-control"/>
                </div>
                
                <div class="form-group">
                    <label for="npt">+2 College name : </label>
                    <input type="text" id="npt" name="nameofplustwo" class="form-control"/>
                </div>
                
                 <div class="form-group">
                    <label for="nb">Bachelor college name : </label>
                    <input type="text" id="nb" name="nameofbachelor" class="form-control"/>
                </div>
                
                <input type="submit" class="btn btn-success" value="Add"/>
            </form>
    </body>
</html>
